$gro-font: 'Roboto', sans-serif;

// color palette
$primary: #FFC200;
$secondary: #06aa48;
$tertiary: #6381FB;
$bglight: #333333;
$white: #ffffff;
$black: #000000;
$text:#F5F5F5;
$benifitsbg:#0F0F0F;
$benifitsbgIcon:#1C1C1C;